<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
    <script>

        //così fixo lo styling del carousel quando ci sono più di 5 film preferiti o lo schermo è troppo stretto, è più bello
        window.onload = function() {
            const favouritesCount = document.getElementsByClassName("favourites")[0].getAttribute("data-favouritesCount");
            const carousel = document.getElementsByClassName("carousel")[0];
            if (favouritesCount > 5) {
                carousel.style.justifyContent = "flex-start";
            } else {
                carousel.style.justifyContent = "center";
            }
        }
    </script>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="profile-card">
      <div class="profile-pic">
          <form class="modifyProfilePic" th:action="@{/templates/company/addedPic}" method="post" enctype="multipart/form-data" >
              <label id="modifyProfilePicLabel" for="uploadImage">Modifica</label>
              <input id="uploadImage" name="image" type="file" accept="image/*" onchange="form.submit()">
          </form>
          <img th:unless="${user.imageFileName}" src="/upload/images/userProfilePics/default_pic.jpg" alt="profile pic">
          <img th:if="${user.imageFileName}" th:src="@{'/upload/images/userProfilePics/' + ${user.imageFileName}}" alt="profile_pic">
      </div>
      <div class="username" th:text="${user.username}">username</div>
      <div class="user-info" >
          <div th:text="'Nome: ' + ${user.name}">nome</div>
          <div th:text="'Cognome: ' + ${user.surname}">cognome</div>
          <div th:text="'Email: ' + ${user.email}">email</div>
      </div>

      <div class="favourites" th:data-favouritesCount="${user.favourites.size()}">
          <div class="favourites-title">Preferiti 💞</div>
          <div class="emptyList" th:if="${user.favourites.isEmpty()}">Non hai ancora inserito nessun film tra i preferiti 💔</div>
          <div class="carousel" th:unless="${user.favourites.isEmpty()}">
              <span th:each="movie : ${user.favourites}">
                    <a th:href="@{'/movies/' + ${movie.id}}">
                        <img class="card" width="100%" th:src="'/upload/images/moviesImages/' + ${movie.imageFileName}" alt="image"/>
                    </a>
                    <span class="card-info" th:text="${movie.title}">Movie</span><br>
                    <span class="card-info" id="movie-year" th:text="${movie.year}">1990</span>
              </span>
          </div>
      </div>
  </div>

</body>
</html>