<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Job Ad</title>
    <div th:replace="fragments/bootstrap_fragment :: bootstrap-dep"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container my-3 px-4">
    <div class="row">
        <div class="col col-md-7 col-lg-5 col-xl-5 px-lg-4 mx-auto pb-3
                    border rounded-4 border-3 border-primary-subtle bg-light shadow">
            <div class="text-gradient h2 w-fit-content my-4 py-1">Modifica l'annuncio</div>
            <form th:action="@{/recruiter/editedJobAd}" method="POST" th:object="${jobAd}">
                <div id="error-container" th:if="${#fields.hasGlobalErrors()}">
                    <div id="global-errors" th:each="err : ${#fields.globalErrors()}">
                        <div th:class="${myErrorClass}" th:text="${err}"></div>
                    </div>
                </div>

                <!-- perchè senno non abbiamo l'id al ritorno -->
                <input class="d-none" th:field="${jobAd.id}"/>

                <div class="mb-3">
                    <label class="form-label" for="titolo">Titolo:</label>
                    <input class="form-control" id="titolo" required type="text" th:field="${jobAd.title}"
                           maxlength="255"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('title')}"
                         th:errors="${jobAd.title}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="descrizione">Descrizione: </label>
                    <textarea class="form-control" rows="3" id="descrizione" required
                              placeholder="max 1500 caratteri..."
                              th:field="${jobAd.description}"
                              maxlength="1500"></textarea>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('description')}"
                         th:errors="${jobAd.description}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="field">Settore: </label>
                    <input class="form-control" id="field" required type="text" th:field="${jobAd.field}"
                           maxlength="255"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('field')}"
                         th:errors="${jobAd.field}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="requisiti">Requisiti: </label>
                    <textarea class="form-control" id="requisiti" required th:field="${jobAd.requirements}"
                           maxlength="250" rows="2" placeholder="max 250 caratteri..."></textarea>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('requirements')}"
                         th:errors="${jobAd.requirements}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="salario">Salario (al mese): </label>
                    <input class="form-control" id="salario" required type="number" th:field="${jobAd.salary}"/>
                    <div class="form-text">Deve essere un numero compreso tra 200 e 100.000 euro</div>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('salary')}"
                         th:errors="${jobAd.salary}"></div>
                </div>

                <button type="submit" class="btn btn-primary">Modifica</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>