<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>JobAdApplications</title>
    <nothing th:replace="fragments/bootstrap_fragment :: bootstrap-dep"></nothing>
</head>
<body>
  <div th:replace="fragments/header :: header"></div>

  <div id="jobAd">
    <div th:insert="fragments/bootstrap_fragment :: jobAd"></div>
    <a th:href="@{'/recruiter/editJobAd/' + ${jobAd.id}}">Modifica</a>
    <a th:href="@{'/recruiter/deleteJobAd/' + ${jobAd.id}}">Elimina</a>
  </div>

  <div id="job-applications">
    <h1 id="job-appl-title">Candidature</h1>
    <div th:each="jobAppl : ${jobAppls}">
        <div th:insert="fragments/bootstrap_fragment :: userAppl"></div>
    </div>
  </div>
  <div id="no-jobAppls" th:if="${jobAppls.isEmpty()}">
    Nessuno si è ancora candidato per questo annuncio
  </div>

</body>
</html>