<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>JobAdApplications</title>
    <div th:replace="fragments/bootstrap_fragment :: bootstrap-dep"></div>
</head>
<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container">
        <!-- ANNUNCIO -->
      <div class="h1 text-gradient d-inline-block pb-1 my-2">Annuncio</div>
      <div class="mb-2" id="jobAd">
          <div th:insert="fragments/bootstrap_fragment :: jobAd"></div>
          <div class="d-flex gap-3 mt-3 mb-4">
              <a class="btn btn-warning text-light" th:href="@{'/recruiter/editJobAd/' + ${jobAd.id}}">Modifica</a>
              <a class="btn btn-danger" th:href="@{'/recruiter/deleteJobAd/' + ${jobAd.id}}">Elimina</a>
          </div>
      </div>

      <!-- CANDIDATURE VECCHIE E NUOVE -->
      <div class="my-4" id="job-applications">
          <h1 class="h1 text-gradient d-inline-block" id="job-appl-title">Tutte le candidature</h1>
          <div class="d-flex overflow-scroll px-3 gap-4" th:unless="${jobAppls.isEmpty()}">
              <div th:each="jobAppl : ${jobAppls}" th:insert="fragments/bootstrap_fragment :: userAppl"
                   style="min-width: 317px"></div>
          </div>
      </div>
      <div class="alert alert-warning" id="no-jobAppls" th:if="${jobAppls.isEmpty()}">
          Nessuno si è ancora candidato per questo annuncio
      </div>

  </div>

</body>
</html>