<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <nothing th:replace="fragments/bootstrap_fragment :: bootstrap-dep"></nothing>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="company-card">



    <div class="company-logo">
        <form class="modifyProfilePic" th:action="@{/recruiter/addedPic}" method="post"
              enctype="multipart/form-data">
            <label id="modifyProfilePicLabel" for="uploadImage">Modifica</label>
            <input id="uploadImage" name="image" type="file" accept="image/*" onchange="form.submit()">
        </form>
        <img th:if="${company.logoFileName}" th:src="@{'/upload/images/companiesLogos/' + ${company.logoFileName}}"
             alt="company_logo">
    </div>
    <div class="nome azienda" th:text="${company.companyName}">nome azienda</div>
    <div class="company-desc" th:text="${company.description}">descrizione</div>

    <div id="contacts">
        <span>Sede: </span><span th:text="${company.location}">sede</span>
        <span>Telefono: </span><span th:text="${company.phoneNumber}">telefono</span>
    </div>

    <!-- ANNUNCI DELL'AZIENDA -->
    <a th:if="${userIsRecruiter}" th:href="@{'/recruiter/newJobAd'}">+ Pubblica annuncio</a>
    <div id="company-jobAds" th:if="${userIsRecruiter}">
        <h1>I miei annunci</h1>
        <div th:if="${company.jobAds.isEmpty()}">Non hai ancora pubblicato nessun annuncio</div>
        <div th:unless="${company.jobAds.isEmpty()}" id="jobAds-container">
            <div th:each="jobAd : ${company.jobAds}">
                <h2 th:text="${jobAd.title}">Titolo</h2>
                <p th:text="${jobAd.salary} + '€'">paga</p>
                <p th:text="${#temporals.format(jobAd.publicationDate,'dd-MM-yyyy HH:mm')}"></p>
                <p th:text="${jobAd.description}">Descrizione</p>
                <p th:text="${jobAd.field}">Settore</p>
                <p th:text="${jobAd.requirements}">Requisiti</p>
                <a th:href="@{'/recruiter/jobAds/' + ${jobAd.id}}">Verifica candidature</a>
                <a th:href="@{'/recruiter/editJobAd' + ${jobAd.id}}">Modifica</a>
                <a th:href="@{'/recruiter/deleteJobAd/' + ${jobAd.id}}">Elimina</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>