<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recruiter Profile</title>
    <nothing th:replace="fragments/bootstrap_fragment :: bootstrap-dep"></nothing>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <!-- Azienda e info reclutatore -->
    <div class="d-flex flex-wrap justify-content-center gap-sm-4">
        <!-- AZIENDA -->
        <div class="w-max400px my-4 p-3 border border-3 border-primary-subtle rounded-4 d-flex
                flex-column align-items-center justify-content-evenly shadow">
            <div class="h2 text-gradient my-1">Lavora per:</div>
            <div class="h1 text-gradient my-2" th:text="${company.companyName}">nome azienda</div>
            <img class="rounded-circle" th:src="@{'/upload/images/companiesLogos/' + ${company.logoFileName}}"
                 style="aspect-ratio:1; height:15rem" alt="company_logo">
            <form class="d-none" th:action="@{/recruiter/modifyLogo}" method="post"
                  enctype="multipart/form-data">
                <label class="form-label" id="modifyProfilePicLabel" for="uploadImage">Modifica logo</label>
                <input class="form-control" id="uploadImage" name="image" type="file" accept="image/*"
                       onchange="form.submit()">
            </form>
            <button type="button" id="uploadButton" class="btn btn-primary my-3">Cambia logo</button>
            <!-- per fare in modo che quando clicko il bottone per caricare l'immagine si apra la finestra di dialogo -->
            <script>
                document.getElementById("uploadButton").onclick = function () {
                    document.getElementById("uploadImage").click();
                };
            </script>
        </div>

        <!-- INFO RECLUTATORE -->
        <div class="w-max400px my-4 p-3 border border-3 border-primary-subtle rounded-4 d-flex
                flex-column align-items-start shadow">
            <div class="h1 text-gradient my-3">Le tue info</div>
            <div class="w-max400px card-body align-self-center">
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">Nome</p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-0" th:text="${recruiter.name}">nome recl</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">Cognome</p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-0" th:text="${recruiter.surname}">cognome recl</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-0" th:text="${recruiter.email}">email</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">Candidature accettate</p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-0" th:text="${recruiter.acceptedApplications}">8 (finto)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">Candidature rifiutate</p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-0" th:text="${recruiter.rejectedApplications}">5 (prova)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CANDIDATURE IN ATTESA -->
    <div class="h1 text-gradient">Candidature in attesa</div>
    <div class="d-flex overflow-scroll px-3 gap-4" th:unless="${pendingJobAppls.isEmpty()}">
        <div th:each="jobAppl : ${pendingJobAppls}" th:insert="fragments/bootstrap_fragment :: userAppl"
             style="min-width: 317px"></div>
    </div>
    <div class="alert alert-warning" th:if="${pendingJobAppls.isEmpty()}">Non c'è nessuna candidatura in attesa</div>

    <!-- ANNUNCI DELL'AZIENDA -->
    <div id="company-jobAds">
        <div class="d-flex flex-wrap mt-4">
            <div class="h1 text-gradient me-3">I miei annunci</div>
            <div class="my-auto">
                <a class="btn btn-primary" th:href="@{'/recruiter/newJobAd'}">Pubblica annuncio</a>
            </div>
        </div>
        <div class="alert alert-warning" th:if="${company.jobAds.isEmpty()}">Non hai ancora pubblicato nessun annuncio</div>
        <div th:unless="${company.jobAds.isEmpty()}" id="jobAds-container">
            <div th:each="jobAd : ${company.jobAds}">
                <div th:insert="fragments/bootstrap_fragment :: jobAd"></div>
                <a class="btn btn-primary" th:href="@{'/recruiter/jobAds/' + ${jobAd.id}}">Verifica candidature</a>
                <a class="btn btn-warning text-light" th:href="@{'/recruiter/editJobAd/' + ${jobAd.id}}">Modifica</a>
                <a class="btn btn-danger" th:href="@{'/recruiter/deleteJobAd/' + ${jobAd.id}}">Elimina</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>