<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant Profile</title>
    <nothing th:replace="fragments/bootstrap_fragment :: bootstrap-dep"></nothing>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <!-- APPLICANT IMAGE & INFO -->
    <div class="d-flex flex-wrap justify-content-center gap-sm-4">

        <!-- PROFILE PIC -->
        <div class="w-max400px my-4 p-3 border border-3 border-primary-subtle rounded-4 d-flex
                flex-column align-items-center justify-content-evenly shadow">
            <div class="h1 text-gradient my-2 text-break text-center" th:text="${user.username}">nome candidato</div>
            <img class="rounded-circle" th:unless="${user.imageFileName}"
                 src="/upload/images/userProfilePics/default_pic.jpg"
                 style="aspect-ratio:1; height:15rem" alt="profile_pic">
            <img class="rounded-circle" th:if="${user.imageFileName}"
                 th:src="@{'/upload/images/userProfilePics/' + ${user.imageFileName}}"
                 style="aspect-ratio:1; height:15rem" alt="profile_pic">

            <!-- solo se l'utente è il proprietario del profilo può modificare l'immagine -->
            <form th:if="${currentUser.id == user.id}" class="d-none" th:action="@{/applicant/addedPic}"
                  method="post" enctype="multipart/form-data">
                <label class="form-label" id="modifyProfilePicLabel" for="uploadImage">Modifica logo</label>
                <input class="form-control" id="uploadImage" name="image" type="file" accept="image/*"
                       onchange="form.submit()">
            </form>
            <button type="button" id="uploadButton" class="btn btn-primary my-3">Cambia avatar</button>

            <!-- per fare in modo che quando clicko il bottone per caricare l'immagine si apra la finestra di dialogo -->
            <script>
                document.getElementById("uploadButton").onclick = function () {
                    document.getElementById("uploadImage").click();
                };
            </script>
        </div>

        <!-- INFO CANDIDATO -->
        <div class="w-max400px my-4 p-3 border border-3 border-primary-subtle rounded-4 d-flex
                flex-column align-items-start shadow">
            <div class="h1 text-gradient my-3">Le tue info</div>
            <div class="w-max400px card-body align-self-center">
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">Nome</p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-0" th:text="${user.name}">nome cand</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">Cognome</p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-0" th:text="${user.surname}">cognome cand</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-0" th:text="${user.email}">email</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0">Candidato a</p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-0" th:text="${user.jobApplications.size()} + ' ' + 'annunci'">4 annunci</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CANDIDATURE -->
    <div id="job-applications">
        <div class="h1 text-gradient my-2">Candidature</div>
        <div th:each="jobAppl : ${jobAppls}">
            <div th:replace="fragments/bootstrap_fragment :: jobAppl"></div>
        </div>
        <div class="h3" th:if="${jobAppls.isEmpty()}">Non ti sei candidato per nessun annuncio</div>
    </div>

</div>

</body>
</html>