<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant Profile</title>
    <nothing th:replace="fragments/bootstrap_fragment :: bootstrap-dep"></nothing>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="profile-card">
    <div class="profile-pic">
        <h1>Profilo</h1>

        <!-- solo se  siamo noi possiamo modificare l'immagine -->
        <form th:if="${currentUser.id == user.id}" class="modifyProfilePic" th:action="@{/applicant/addedPic}" method="post" enctype="multipart/form-data">
            <label id="modifyProfilePicLabel" for="uploadImage">Modifica</label>
            <input id="uploadImage" name="image" type="file" accept="image/*" onchange="form.submit()">
        </form>

        <img th:unless="${user.imageFileName}" src="/upload/images/userProfilePics/default_pic.jpg" alt="profile pic">
        <img th:if="${user.imageFileName}" th:src="@{'/upload/images/userProfilePics/' + ${user.imageFileName}}"
             alt="profile_pic">
    </div>

    <!-- INFO -->
    <div class="username" th:text="${user.username}">username</div>
    <div class="user-info">
        <span>Nome: </span><span th:text="${user.name}">nome</span>
        <span>Cognome: </span><span th:text="${user.surname}">cognome</span>
        <span>Email: </span><span th:text="${user.email}">email</span>
    </div>

    <!-- CANDIDATURE -->
    <div id="job-applications">
        <h1 id="job-appl-title">Candidature</h1>
        <div th:each="jobAppl : ${jobAppls}">
            <div th:replace="fragments/bootstrap_fragment :: jobAppl"></div>
        </div>
        <div th:if="${jobAppls.isEmpty()}">Non ti sei candidato per nessun annuncio</div>
    </div>

</div>

</body>
</html>