<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist</title>
    <link rel="stylesheet" href="/css/single/single.css" type="text/css">
    <script src="/js/artist.js"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container" th:if="${artist}">
        <h1 th:text="${artist.name} + ' ' + ${artist.surname}"></h1>

        <span class="info" th:text="'Data di nascita: (' + ${artist.dateOfBirth} + ')'">2000</span>
        <div class="info" th:if="${artist.dateOfDeath}"><span th:text="'Data di morte: (' + ${artist.dateOfDeath} + ')'">2000</span></div>
        <div class="card-plus-content-container">
            <div class="card"><img width="100%" th:src="'/upload/images/artistsImages/' + ${artist.imageFileName}" alt="image"/></div>
            <div class="actor-movies-carousels">
                <div class="directedMovies-container">
                    <h2 class="carousel-title">Ha diretto:</h2>
                    <div class="carousel">
                        <div class="emptyList" th:if="${artist.directedMovies.isEmpty()}">Quest'artista non ha ancora diretto nessun film</div>
                        <span th:each="movie : ${artist.directedMovies}" th:unless="${artist.directedMovies.isEmpty()}">
                            <a th:href="@{'/movies/' + ${movie.id}}">
                                <img class="actor-movies-card" width="100%" th:src="'/upload/images/moviesImages/' + ${movie.imageFileName}" alt="image"/>
                            </a>
                            <span class="actor-movies-card-info" th:text="${movie.title}">film pazzo</span>
                        </span>
                    </div>
                </div>
                <div class="moviesActedIn-container">
                    <h2 class="carousel-title">Appare in:</h2>
                    <div class="carousel">
                        <div class="emptyList" th:if="${artist.moviesActedIn.isEmpty()}">Quest'artista non è apparso ancora in nessun film</div>
                        <span th:each="movie : ${artist.moviesActedIn}" th:unless="${artist.moviesActedIn.isEmpty()}">
                            <a th:href="@{'/movies/' + ${movie.id}}">
                                <img class="actor-movies-card" width="100%" th:src="'/upload/images/moviesImages/' + ${movie.imageFileName}" alt="image"/>
                            </a>
                            <span class="actor-movies-card-info" th:text="${movie.title}">film pazzo</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- DELETE BUTTON-->
        <div class="deleteItemContainer" th:if="${userIsAdmin}">
            <button>
                <a id="deleteItem" th:href="@{'/admin/deleteArtist/' + ${artist.id}}">CANCELLA ARTISTA</a>
            </button>
        </div>
    </div>
    <div class="error" th:unless="${artist}">Artista inesistente o errore</div>
</body>
</html>