<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FormRegisterCompany</title>
    <div th:replace="fragments/bootstrap_fragment :: bootstrap-dep"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container my-3 px-4">
    <div class="row">
        <div class="col col-md-7 col-lg-5 col-xl-5 px-lg-4 mx-auto pb-3
                    border rounded-4 border-3 border-primary-subtle bg-light shadow">
            <form class="container" th:action="@{/registerCompany}" method="POST" enctype="multipart/form-data">

                <div class="text-gradient h1 w-fit-content my-4 py-1">Registra reclutatore</div>

                <div class="mb-3">
                    <label class="form-label" for="usernameForRegistration">Username</label>
                    <input class="form-control" id="usernameForRegistration" type="text" required
                           th:field="${credentials.username}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('credentials.username')}"
                         th:errors="${credentials.username}"></div>
                    <div th:class="${myErrorClass}" th:if="${erroreUsername}" th:text="${erroreUsername}"></div>
                </div>


                <div th:class="${myErrorClass}" th:if="${erroreUpload}" th:text="${erroreUpload}">errore</div>

                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" id="password" type="password" required th:field="${credentials.password}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('credentials.password')}"
                         th:errors="${credentials.password}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="nome">Nome</label>
                    <input class="form-control" id="nome" type="text" required th:field="${recruiter.name}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('recruiter.name')}"
                         th:errors="${recruiter.name}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="cognome">Cognome</label>
                    <input class="form-control" id="cognome" type="text" required
                           th:field="${recruiter.surname}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('recruiter.surname')}"
                         th:errors="${recruiter.surname}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="text" placeholder="name@example.com" required
                           th:field="${recruiter.email}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('recruiter.email')}"
                         th:errors="${recruiter.email}"></div>
                </div>


                <div class="text-gradient h1 w-fit-content my-4 py-1">Registra azienda</div>

                <div class="mb-3">
                    <label class="form-label" for="nomeAzienda">Nome azienda</label>
                    <input class="form-control" id="nomeAzienda" type="text" required
                           th:field="${company.companyName}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('company.companyName')}"
                         th:errors="${company.companyName}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Descrizione azienda</label>
                    <textarea class="form-control" id="description" rows="3" maxlength="1500"
                              placeholder="max 1500 caratteri..." required
                              th:field="${company.description}"></textarea>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('company.description')}"
                         th:errors="${company.description}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Sede</label>
                    <input class="form-control" id="location" type="text" required
                           th:field="${company.location}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('company.location')}"
                         th:errors="${company.location}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="phoneNumber">Telefono azienda</label>
                    <input class="form-control" id="phoneNumber" type="text" required
                           th:field="${company.phoneNumber}"/>
                    <div class="form-text">Formato: 123-456-7890 (escludere i trattini)</div>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('company.phoneNumber')}"
                         th:errors="${company.phoneNumber}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="logo">Logo</label>
                    <input class="form-control" id="logo" type="file" name="logo" required accept="image/*"/>
                    <div class="form-text">Potrà essere cambiato in seguito</div>
                </div>

                <button class="btn btn-primary" type="submit">Registra</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>