<!DOCTYPE html>
<html lang="en">

<head>
    <title>RegisterFormUser</title>
    <div th:replace="fragments/bootstrap_fragment :: bootstrap-dep"></div>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container my-3 px-4">

    <div class="row">
        <div class="col col-md-7 col-lg-5 col-xl-5 px-lg-4 mx-auto pb-3
                    border rounded-4 border-3 border-primary-subtle bg-light shadow">
            <div class="text-gradient h1 w-fit-content my-4 py-1">Registrazione</div>
            <form th:action="@{/registerUser}" method="POST">

                <div th:if="${erroreUsername}"
                     th:insert="fragments/bootstrap_fragment :: alertBox(${erroreUsername}, 'danger', 'false')"></div>


                <div class="mb-3">
                    <label class="form-label" for="usernameForRegistration">Username</label>
                    <input class="form-control" id="usernameForRegistration" type="text" required
                           th:field="${credentials.username}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('credentials.username')}"
                         th:errors="${credentials.username}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" id="password" type="password" required
                           th:field="${credentials.password}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('credentials.password')}"
                         th:errors="${credentials.password}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="nome">Nome</label>
                    <input class="form-control" id="nome" type="text" required th:field="${user.name}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('user.name')}"
                         th:errors="${user.name}"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="cognome">Cognome</label>
                    <input class="form-control" id="cognome" type="text" required
                           th:field="${user.surname}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('user.surname')}"
                         th:errors="${user.surname}"></div>

                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="text" placeholder="name@example.com" required
                           th:field="${user.email}"/>
                    <div th:class="${myErrorClass}" th:if="${#fields.hasErrors('user.email')}"
                         th:errors="${user.email}"></div>
                </div>


                <button class="btn btn-primary" type="submit">Registra</button>

            </form>
        </div>
    </div>
</div>
</body>

</html>