<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>JobFinder</title>
    <link rel="stylesheet" href="/css/index/index_style.css"/>
    <script src="/js/indexSearch.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div id="main">

    <!-- se l'utente non ha un'immagine profilo -->
    <div th:if="${userIsApplicant and currentUser.imageFileName == null}">
        <a href="/applicant/profile">Completa il tuo profilo aggiungendo una foto per poterti candidare</a>
    </div>

    <!-- DA LEVARE -->
    <p style="color:red; font-size:2.4rem">DEVO AGGIUNGERE FILTRAGGIO E MODIFICA DEGLI ANNUNCI, FORSE ENTITA' CV</p>

    <!-- ANNUNCI DELL'AZIENDA, LEVALI DA QUI, METTILI IN PROFILO AZIENDA -->
    <a th:if="${userIsRecruiter}" th:href="@{'/recruiter/newJobAd'}">+ Pubblica annuncio</a>
    <div id="company-jobAds" th:if="${userIsRecruiter}">
        <h1>I miei annunci</h1>
        <div th:if="${currentUser.company.jobAds.isEmpty()}">Non hai ancora pubblicato nessun annuncio</div>
        <div th:unless="${currentUser.company.jobAds.isEmpty()}" id="jobAds-container">
            <div th:each="jobAd : ${currentUser.company.jobAds}">
                <h2 th:text="${jobAd.title}">Titolo</h2>
                <p th:text="${jobAd.salary} + '€'">paga</p>
                <p th:text="${#temporals.format(jobAd.publicationDate,'dd-MM-yyyy HH:mm')}"></p>
                <p th:text="${jobAd.description}">Descrizione</p>
                <p th:text="${jobAd.field}">Settore</p>
                <p th:text="${jobAd.requirements}">Requisiti</p>
                <a th:href="@{'/recruiter/jobAds/' + ${jobAd.id}}">Verifica candidature</a>
                <a th:href="@{'/recruiter/editJobAd' + ${jobAd.id}}">Modifica</a>
                <a th:href="@{'/recruiter/deleteJobAd/' + ${jobAd.id}}">Elimina</a>
            </div>
        </div>
    </div>

    <!-- AVVISO PER L'UTENTE -->
    <div th:if="${userIsApplicant and !currentUser.jobApplications.isEmpty()}">
        <span>Controlla le tue candidature nella pagina del </span><a href="/applicant/profile">profilo</a>
    </div>

    <!-- ANNUNCI PIU' POPOLARI -->
    <div>
        <h1>Annunci più popolari</h1>
        <div th:if="${mostPopularJobAds.isEmpty()}">Non è stato ancora pubblicato nessun annuncio</div>
        <div th:unless="${mostPopularJobAds.isEmpty()}">

            <!-- i vari annunci -->
            <div th:each="jobAd : ${mostPopularJobAds}">
                <h2 th:text="${jobAd.title}">Titolo</h2>
                <p th:text="${jobAd.jobApplications.size()} + ' CANDIDATURE'">num candidature</p>
                <p th:text="${jobAd.salary} + '€'">paga</p>
                <a th:text="${jobAd.company.companyName}" th:href="@{'/companies/' + ${jobAd.company.id}}">Nome
                    azienda</a>
                <p th:text="${#temporals.format(jobAd.publicationDate,'dd-MM-yyyy HH:mm')}"></p>
                <p th:text="${jobAd.description}">Descrizione</p>
                <p th:text="${jobAd.field}">Settore</p>
                <p th:text="${jobAd.requirements}">Requisiti</p>

                <!--varie opzioni in base al tipo di utente e candidature-->
                <a th:if="${userIsApplicant and !currentUser.hasAppliedToJobAd(jobAd) and currentUser.imageFileName != null}"
                   th:href="@{'/applicate/' + ${jobAd.id}}">Candidati</a>
                <p th:if="${userIsApplicant and currentUser.hasAppliedToJobAd(jobAd)}">Candidatura inviata</p>
                <a th:if="${not userIsRegistered}" th:href="@{'/login'}">Accedi per candidarti</a>
            </div>
        </div>

        <!-- ANNUNCI PIU' RECENTI -->
        <h1>Annunci più recenti</h1>
        <div th:if="${newestJobAds.isEmpty()}">Non è stato ancora pubblicato nessun annuncio</div>
        <div th:unless="${newestJobAds.isEmpty()}">

            <!-- i vari annunci -->
            <div th:each="jobAd : ${newestJobAds}">
                <h2 th:text="${jobAd.title}">Titolo</h2>
                <p th:text="${jobAd.salary} + '€'">paga</p>
                <a th:text="${jobAd.company.companyName}" th:href="@{'/companies/' + ${jobAd.company.id}}">Nome
                    azienda</a>
                <p th:text="${#temporals.format(jobAd.publicationDate,'dd-MM-yyyy HH:mm')}"></p>
                <p th:text="${jobAd.description}">Descrizione</p>
                <p th:text="${jobAd.field}">Settore</p>
                <p th:text="${jobAd.requirements}">Requisiti</p>

                <!--varie opzioni in base al tipo di utente e candidature-->
                <a th:if="${userIsApplicant and !currentUser.hasAppliedToJobAd(jobAd) and currentUser.imageFileName != null}"
                   th:href="@{'/applicate/' + ${jobAd.id}}">Candidati</a>
                <p th:if="${userIsApplicant and currentUser.hasAppliedToJobAd(jobAd)}">Candidatura inviata</p>
                <a th:if="${not userIsRegistered}" th:href="@{'/login'}">Accedi per candidarti</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>