<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <link rel="stylesheet" href="/css/single/single.css" type="text/css"/>
    <script src="/js/movie.js"></script>
</head>
<body>
    <!-- Questo div serve per passare un bool in formato JSON a
    javascript che dice a js se il film ha recensioni-->
    <div style="display: none" id="reviewsIsEmpty" th:data-isEmpty="${movie.reviews.isEmpty()}"></div>

    <div th:replace="fragments/header :: header"></div>

    <div th:if="${movie}" class="container">
        <div class="title-container">
            <h1 id="title" th:text="${movie.title}"></h1>
            <span th:if="${userIsRegistered}">
                <a th:href="@{'/registered/removeMovieToFavourites/' + ${movie.id}}" th:if="${isUserFavourite}" id="favourite-icon-full">&hearts;</a>
                <a th:href="@{'/registered/addMovieToFavourites/' + ${movie.id}}" th:unless="${isUserFavourite}" id="favourite-icon-empty">&hearts;</a>
            </span>
        </div>

        <div class="info" id="year">Anno: <span th:text="'(' + ${movie.year} + ')'">2000</span></div>
        <div class="info" id="regista">Regista:
            <span th:if="${movie.director}" th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Pippo Pluto</span>
            <span th:unless="${movie.director}" class="info">non specificato</span>
            <a id="changeDirector" th:if="${userIsAdmin}" th:href="@{'/admin/directorsToAdd' + '/' + ${movie.id}}"> - Modifica</a>
        </div>

        <div class="card-plus-content-container">
            <div class="card"><img width="100%" th:src="'/upload/images/moviesImages/' + ${movie.imageFileName}" alt="image"/></div>
            <!--RECENSIONI-->
            <div class="reviews-container">
                <h1>Recensioni</h1>
                <div th:if="${userCanAddReview}" class="new-review"><a th:href="@{'/registered/formAddReview/' + ${movie.id}}">+ Aggiungi recensione</a></div>
                <div id="noReviews" th:if="${movie.reviews.isEmpty()}">Ancora nessuna recensione</div>
                <div class="reviews-list-wrapper" th:unless="${movie.reviews.isEmpty()}">
                    <ul class="reviews">
                        <li th:each="review : ${movie.reviews}">
                            <div class="review">
                                <div class="review-info">
                                    <span id="review-author" th:text="${review.author.username}">Autore</span>
                                    <span id="review-date" th:text="${review.creationDate}">Data</span>
                                </div>
                                <div class="review-header">
                                    <h3 id="review-title" th:text="${review.title}">Titolo</h3>
                                    <!--STELLINE-->
                                    <span class="review-rating">
                                        <!-- in pratica puoi assegnare una classe con thymeleaf a un elemento in base a una condizione -->
                                        <span class="star" th:classappend="${review.rating >= 1} ? 'fullStar' : ''">&starf;</span>
                                        <span class="star" th:classappend="${review.rating >= 2} ? 'fullStar' : ''">&starf;</span>
                                        <span class="star" th:classappend="${review.rating >= 3} ? 'fullStar' : ''">&starf;</span>
                                        <span class="star" th:classappend="${review.rating >= 4} ? 'fullStar' : ''">&starf;</span>
                                        <span class="star" th:classappend="${review.rating >= 5} ? 'fullStar' : ''">&starf;</span>
                                    </span>
                                </div>

                                <div id="review-text" th:text="${review.content}">Testo</div>

                                <a id="delete-review" th:if="${userIsAdmin or currentUserId == review.author.id}" th:href="@{'/registered/deleteReview/' + ${review.id}}">Cancella recensione</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--ATTORI-->
        <div class="artists-container">
            <span>
                <span class="carousel-title">Attori
                    <a id="changeActors" th:if="${userIsAdmin}" th:href="@{'/admin/allActorsForMovie' + '/' + ${movie.id}}">Modifica</a></span>
                </span>
            <div class="emptyList" th:if="${actors.isEmpty()}">Non c'è ancora nessun artista registrato per questo film</div>
            <div class="carousel" th:unless="${actors.isEmpty()}">
                <span th:each="actor : ${actors}">
                    <a th:href="@{'/artists/' + ${actor.id}}">
                        <img class="actor-card" width="100%" th:src="'/upload/images/artistsImages/' + ${actor.imageFileName}" alt="image"/>
                    </a>
                    <span class="actor-card-info" th:text="${actor.name} + ' ' + ${actor.surname}">attore pazzo</span>
                </span>
            </div>
        </div>
        <!--DELETE BUTTON-->
        <div class="deleteItemContainer" th:if="${userIsAdmin}">
            <button>
                <a id="deleteItem" th:href="@{'/admin/deleteMovie/' + ${movie.id}}">CANCELLA FILM</a>
            </button>
        </div>
    </div>
    <div class="error" th:unless="${movie}">Non esiste questo film (bug)</div>
</body>
</html>